html {
  background-image: url(./Grail.jpg);
}

.Begin {
  margin-top: 200px;
  text-align: center;
  font-size: xx-large;
  background-color: black;
  color: cornflowerblue;
}

#Start {
  font-size: 40px;
}

.Canvas {
  display: flex;
  justify-content: space-around;
}

#info {
  display: flex;
  font-size: xx-large;
  font-weight: 500;
  color: darkgreen;
}

#question-page h1 {
  font-size: 30px;
  text-align: center;
}

#answer-choices {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.answer-choice {
  margin: 10px;
  background-color: cornflowerblue;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  /* padding: 20px; */
  font-weight: bolder;
  font: white;
}

.answer-choice:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 5px rgb(5, 97, 97);
  background-color: #66f2fc;
}

#enter-score {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 20px;
}

#enter-score p {
  margin: 20px auto;
}

#enter-score input {
  margin: 15px;
  height: 30px;
  padding: 2px 5px;
}

#scoreboard {
  display: flex;
  flex-direction: column;
}

#score-table td{
  padding: 5px 30px;
}

img{
  left: 450px;
}