html {
  background-image: url(./Grail.jpg);
}

.Begin {
  margin-top: 200px;
  text-align: center;
  height: 150px;
  font-size: xx-large;
  background-color: black;
  color: cornflowerblue;
}

#Start {
  font-size: 40px;
}

.Canvas {
  display: flex;
  justify-content: space-around;
}

#info {
  display: flex;
  font-size: xx-large;
  font-weight: 500;
  color: darkgreen;
}
